<head>
	<title>{{r.breadname}} ({{r.totalFlourGrams}}g)</title>
	<style>
		body{
			background-color: black;
		}
		#container{
			width: 600px;
			margin: auto;
			padding: 12px 24px 36px 36px;
			border-radius: 6px;
			background-color: E0D3AF;
		}
		* {
			font-family: Georgia, serif;
			font-size: 16px;
		}
		ul{
			list-style-type: square;
		}
		h2{
			font-family: 'Brush Script MT', cursive;
			font-size: 30px;
		}
		h3{
			font-family: 'Brush Script MT', cursive;
			font-size: 18px;
		}
		h4{
			font-size: 18px;
		}

			
	</style>
</head>
<body>
	<div id="container">
	<h2>{{r.breadname}} ({{r.totalFlourGrams}}g)</h2>
	<h3>[{{r.datetime}}]</h3>
	<hr>

	<h4>Specifications</h4>
	<ul>
		{% if r.isBicolorRoll %}
		<li>Bicolor Roll</li>
		{% endif %}
		<li>Bread Shape: {{r.breadShape}}</li>
		<li>Total Liquids: {{r.totalLiquidGrams}}g - {{r.totalLiquidPercent}}%</li>
	</ul>

	<h4>Flour</h4>
	<ul>
		<li>Bread Flour - {{r.breadFlourGrams}}g - {{r.breadFlourPercent}}%</li>
		{% if r.whiteFlourPercent != 0 %}
		<li>White Flour - {{r.whiteFlourGrams}}g - {{r.whiteFlourPercent}}%</li>
		{% endif %}
		{% if r.specialFlourPercent != 0 %}
		<li>{{r.specialFlour}} - {{r.specialFlourGrams}}g - {{r.specialFlourPercent}}%</li>
		{% endif %}
		{% if r.cocoaPowderPercent != 0  %}
		<li>Cocoa Powder - {{r.cocoaPowderGrams}}g - {{r.cocoaPowderPercent}}%</li>
		{% endif %}
	</ul>

	{% if r.preferment != 'None' %}
	<h4>Preferment - {{r.preferment}}</h4>
		<ul>
		{% if r.preferment == 'Poolish' %}
			<li>Bread Flour - {{r.breadFlourGrams//2}}g - {{r.breadFlourPercent//2}}%</li>
			{% if r.whiteFlourPercent != 0 %}
			<li>White Flour - {{r.whiteFlourGrams//2}}g - {{r.whiteFlourPercent//2}}%</li>
			{% endif %}
			{% if r.specialFlourPercent != 0 %}
			<li>{{r.specialFlour}} - {{r.specialFlourGrams//2}}g - {{r.specialFlourPercent//2}}%</li>
			{% endif %}
			{% if r.waterGrams > 0 %}
			<li>Water - {{r.waterGrams//2}}g - {{r.waterPercent//2}}%</li>
			{% endif %}
		{% endif %}
		</ul>
	{% endif %}



	<h4>Basic Ingredients</h4>
	<ul>
	{% if r.sugarPercent != 0 %}
		<li>{{r.sugar}} - {{r.sugarGrams}}g - {{r.sugarPercent}}%</li>
	{% endif %}	
		<li>{{r.salt}} - {{r.saltGrams}}g - {{r.saltPercent}}%</li>
		<li>{{r.yeast}} - {{r.yeastGrams}}g - {{r.yeastPercent}}%</li>
	</ul>

	<h4>Spices/Flavoring</h4>
	<ul>
	{% if r.spices == [] %}
		<li>None</li>
	{% endif %}
	{% for spice in r.spices %}
		<li>{{spice}} - {{r.spicesAmt[loop.index-1]}}</li>
	{% endfor %}
	{% for extract in r.extracts %}
		<li>{{extract}} - {{r.extractsAmt[loop.index-1]}}</li>
	{% endfor %}
	{% if r.tea != "" %}	
		<li>{{r.tea}} - {{r.teaAmt}}</li>
	{% endif %}
	</ul>

	<h4>Enrichments</h4>
	<ul>
		<li>{{r.enrichment}} - {{r.enrichmentGrams}}g - {{r.enrichmentPercent}}%</li>
	</ul>
	
	<h4>Liquids</h4>
	<ul>
		{% if r.waterGrams > 0 %}
		<li>Water - {{r.waterGrams}}g - {{r.waterPercent}}%</li>
		{% endif %}
		<li>{{r.liquid}} - {{r.liquidGrams}}g - {{r.liquidPercent}}%</li>
		{% for fruitPuree in r.fruitPurees %}
		<li>{{fruitPuree}} Puree - {{r.fruitPureesGrams[loop.index-1]}}g - {{r.fruitPureesPercent[loop.index-1]}}%</li>		
		{% endfor %}
	</ul>
		
	</div>
</body>